<appSettings>
	  <add key="MailServer" value="dev-smtp.videosy.com"/>
	<add key="FacebookAppId" value="1372783856532171" />
	<add key="FacebookAppSecret" value="d9646688bc4cfaff4734d51b06e654d7" />
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
