@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<div class="d-flex flex-row align-items-center" style="min-height: 100vh; background: #dedede;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block text-danger">Error!</span>
                <div class="mb-4 lead">An error occurred while processing your request.</div>
            </div>
        </div>
    </div>
</div>